ul {
  display: block;
}
ul li {
  display: flex;
  align-items: center;
  padding: 20px 0 0 15px;
  box-shadow: 0px 1px 1px 0px #00000066;
  padding: 15px;

  /* rounded */
  /* border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  box-shadow: 0px 0px 3px 0px #00000069;
  margin: 20px; */
}

ul li label {
  padding: 0 15px;
}

input[type="checkbox"] {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  box-shadow: 0px 0px 3px 0px #00000069;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

/* Flex Container */
.container {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ccc;
}

.space-between {
  justify-content: space-between;
}

.item {
  margin: 5px;
  padding: 0 10px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

ul li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

ul li .trash {
  position: absolute;
  top: 1em;
  right: 10px;
}

ul li svg {
  visibility: hidden;
  color: #ff020282;
}

ul li:hover svg {
  visibility: visible;
}

label {
  max-width: 25em;
  overflow: hidden;
}
